@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

body {     
	-webkit-user-select: none;
	-moz-user-select: none;
	font-family: 'productsans';
	word-wrap: break-word;
	line-height: 1.5;
	display: block;
	margin-left: 5px;
	margin-right: 5px;    background: #2e4f8c24;

}

a:link {
	color: #1c81ff;
 /* Цвет ссылок */;
}

a:visited {
	color: #1c81ff;
 /* Цвет посещенных ссылок */;
}

a:active {
	color: #1c81ff;
 /* Цвет активной ссылки */;
}

a, u {
	text-decoration: none;
}
li p {	    padding: 0px 0px !important;
	margin: 0;
	font-size: 16px;
}
p {	    padding: 0px 10px;

	margin: 0;
	font-size: 16px;
}

li {	    padding: 0px 10px;

	margin: 3px 0px;
	font-size: 16px;
}

.main-div {    background-color: white;
	margin-right: auto;
	margin-left: auto;
	max-width: 1024px;
     border-radius: 10px 10px 0px 0px;    padding: 2px 2px 15px 2px;

}

body h2 {
    border-top: 1px solid #eaecef;
    font-size: 18px;
    padding: 10px 15px 0px 15px;
}

body h1 {
    border-top: 1px solid #eaecef;
    font-size: 18px;
    padding: 10px 15px 0px 15px;
}

@font-face {
	font-family: 'productsans';
    src: url('fonts/productsans.ttf');
    font-weight: normal;
    font-style: normal;
}

.cover {  animation: gradient 36s ease-in-out infinite;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	width: -webkit-fill-available;
	height: 150px;
	border-radius: 10px 10px 0px 0px;
	background-image: url('images/scale_1200.webp');
}

.ava {  
	-webkit-user-select: none;
	-moz-user-select: none;
 	display: flex;
	width: 100px;
	height: 100px;
	margin: -55px auto 0px auto;
	border-radius: 10px;
	background-position: center center;
	object-fit: cover;
	background: url(https://sun9-west.userapi.com/sun9-46/s/v1/ig2/EpN4Fqjst86bD3vFafrRgYFu9XL21RMwGaav0NwgPlJCfBm1qk0OrgTTApNo2wpokHLkunDY-fsdXn20IGNo5oDE.jpg?size=1080x1080&quality=95&type=album) no-repeat;
	border: solid 5px white;
	    background-size: cover;

}
.ava:hover {
	-webkit-user-select: none;
	-moz-user-select: none;
 	display: flex;
	width: 100px;
	height: 100px;
	margin: -55px auto 0px auto;
	border-radius: 10px;
	background-position: center center;
	object-fit: cover;
	background: url(https://sun7.userapi.com/sun7-9/s/v1/ig2/b27No_WDG0RUFzN8ulQBNLNm8zwsxT8KoUCROGb_uEg3WdeaXlHThINTO9l-s_M-o0H3JlQ9s6BjQ2MfpzxnBH8A.jpg?size=1080x1080&quality=95&type=album) no-repeat; 
	border: solid 5px white;
	    background-size: cover;

}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button {
 margin-right: 5px;	
 appearance: none;
 background-color: #FAFBFC;
 border: 1px solid rgba(27, 31, 35, 0.15);
 border-radius: 6px;
 box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
 box-sizing: border-box;
 color: #24292E;
 cursor: pointer;
 display: inline-block;
 font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
 font-size: 14px;
 font-weight: 500;
 line-height: 20px;
 list-style: none;
 padding: 3px 24px;
 position: relative;
 transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: middle;
 white-space: nowrap;
 word-wrap: break-word;
}

button:hover {
 background-color: #F3F4F6;
 text-decoration: none;
 transition-duration: 0.1s;
}

button:disabled {
 background-color: #FAFBFC;
 border-color: rgba(27, 31, 35, 0.15);
 color: #959DA5;
 cursor: default;
}

button:active {
 background-color: #EDEFF2;
 box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
 transition: none 0s;
}

button:focus {
 outline: 1px transparent;
}

button:before {
 display: none;
}

button:-webkit-details-marker {
 display: none;
}
